@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="EmpApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angulr/modules/EmpApp.js"></script>
    <script src="~/Scripts/angulr/modules/EmpControllers.js"></script>
    <script src="~/Scripts/angulr/configs/config.js"></script>
    <script src="~/Scripts/angulr/controllers/ListController.js"></script>
    <script src="~/Scripts/angulr/controllers/EditController.js"></script>
    <script src="~/Scripts/angulr/controllers/DeleteController.js"></script>
</head>
<body>
    <div class="main container" ng-view>
        Data
        
    </div>
</body>
</html>